<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocol="v3" />
    <add key="GitHub" value="https://nuget.pkg.github.com/IL_TUO_USERNAME_GITHUB/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="federicobecchi2003" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </GitHub>
  </packageSourceCredentials> 
</configuration>
