<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="FedericoBecchi2003" value="https://nuget.pkg.github.com/FedericoBecchi2003/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="FedericoBecchi2003">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <FedericoBecchi2003>
      <add key="Username" value="FedericoBecchi2003" />
      <add key="ClearTextPassword" value="%NUGET_TOKEN%" />
    </FedericoBecchi2003>
  </packageSourceCredentials>
</configuration>
